In [1]:
import pandas as pd
from datetime import datetime
from plyer import notification
import requests
import numpy as np

In [19]:
#url = 'https://brasilapi.com.br/api/cvm/corretoras/v1' #corretoras ok
#url = 'https://brasilapi.com.br/api/banks/v1' #bancos ok
url = 'https://restcountries.com/v3.1/all' #rest countries ok

In [9]:
def Alerta(nivel, base, etapa):
    
    data_atual = datetime.now()
    data_formatada = data_atual.strftime('%d/%m/%d')
    mensagem = (f'Falha no carregamento da base {base} na etapa {etapa} em {data_formatada}')
    title = nivel
    notification.notify(title = title, message= mensagem, timeout= 10)

In [20]:
while True: 
    response = requests.get(url)
    response_code = response.status_code
    break

In [21]:
if response_code == 200:
    data_json = response.json()
    df = pd.DataFrame(data_json)
    print('Requisição Completa')
else:
    nivel = 'ATENÇÃO: Erro Grave'
    Alerta(nivel = nivel, base='Data_Bank',etapa='Extração')

Requisição Completa

In [17]:
df.head(2)

       ispb                        name  code                      fullName
0  00000000          BCO DO BRASIL S.A.   1.0          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.  70.0  BRB - BANCO DE BRASILIA S.A.

In [13]:
df_corretoras = df

In [18]:
df_bancos = df

In [22]:
df_resties = df

In [109]:
df_bancos.head(1)

       ispb                name  code              fullName
0  00000000  BCO DO BRASIL S.A.   1.0  Banco do Brasil S.A.

In [108]:
df_corretoras.head(1)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15

In [129]:
df_resties.head(1)

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,gini,fifa,car,timezones,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode
0,"{'common': 'Nepal', 'official': 'Federal Democ...",[.np],NP,524,NPL,NEP,True,officially-assigned,True,"{'NPR': {'name': 'Nepalese rupee', 'symbol': '...",...,{'2010': 32.8},NEP,"{'signs': ['NEP'], 'side': 'left'}",[UTC+05:45],[Asia],"{'png': 'https://flagcdn.com/w320/np.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,sunday,"{'latlng': [27.72, 85.32]}","{'format': '#####', 'regex': '^(\d{5})$'}"

In [7]:
df['name'][0]['common']

'Nepal'

In [130]:
paises = [pais['common']for pais in df_resties['name']]

In [131]:
capital = [cap for cap in df_resties['capital']]

In [132]:
lingua = [lig for lig in df_resties['languages']]

In [133]:
regiao = [reg for reg in df_resties['region']]

In [134]:
sigla = [sig for sig in df_resties['cca3']]

In [135]:
fronteira = [front for front in df_resties['borders']]

In [136]:
populacao = [pop for pop in df_resties['population']]

In [137]:
df_paises = pd.DataFrame({
    'Pais': paises, 'Capital': capital,
    'Idioma': lingua, 'Continente': regiao,
    'Sigla': sigla, 'Fronteiras': fronteira,
    'Populaçao': populacao
    })

In [138]:
df_paises['Idioma'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: Idioma, Length: 250, dtype: bool

In [139]:
df_paises['Idioma'].fillna('NA', inplace=True)

In [140]:
df_paises['Capital'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: Capital, Length: 250, dtype: bool

In [141]:
df_paises['Capital'].fillna('NA', inplace=True)

In [142]:
df_paises['Fronteiras'].isnull()#front_nan =

0      False
1       True
2      False
3       True
4      False
       ...
245     True
246    False
247    False
248     True
249     True
Name: Fronteiras, Length: 250, dtype: bool

In [143]:
df_paises['Fronteiras'].fillna('NA', inplace=True)

In [144]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pais        250 non-null    object
 1   Capital     250 non-null    object
 2   Idioma      250 non-null    object
 3   Continente  250 non-null    object
 4   Sigla       250 non-null    object
 5   Fronteiras  250 non-null    object
 6   Populaçao   250 non-null    int64
dtypes: int64(1), object(6)
memory usage: 13.8+ KB

In [145]:
df_paises.head(2)

,Pais,Capital,Idioma,Continente,Sigla,Fronteiras,Populaçao
0,Nepal,[Kathmandu],{'nep': 'Nepali'},Asia,NPL,"[CHN, IND]",29136808
1,Kiribati,[South Tarawa],"{'eng': 'English', 'gil': 'Gilbertese'}",Oceania,KIR,NA,119446

In [149]:
df_paises.head(1)

,Pais,Capital,Idioma,Continente,Sigla,Fronteiras,Populaçao
0,Nepal,[Kathmandu],{'nep': 'Nepali'},Asia,NPL,"[CHN, IND]",29136808

In [169]:
df_bancos.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NA,Banco Central do Brasil - Selic
3,00038166,Bacen,NA,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [177]:
df_bancos['code'].fillna(0, inplace=True)

In [182]:
df_bancos.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,0,Banco Central do Brasil - Selic
3,00038166,Bacen,0,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [180]:
df_bancos['code'] = df_bancos['code'].astype(int)

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ispb      359 non-null    object
 1   name      357 non-null    object
 2   code      359 non-null    int32
 3   fullName  357 non-null    object
dtypes: int32(1), object(3)
memory usage: 9.9+ KB

In [188]:
colunas_com_nan = ['name', 'fullName']

In [189]:
df_bancos = df_bancos.dropna(subset=colunas_com_nan)

In [190]:
df_bancos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 0 to 356
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ispb      357 non-null    object
 1   name      357 non-null    object
 2   code      357 non-null    int32
 3   fullName  357 non-null    object
dtypes: int32(1), object(3)
memory usage: 12.6+ KB

In [191]:
df_bancos.head(2)

       ispb                        name  code                      fullName
0  00000000          BCO DO BRASIL S.A.     1          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.    70  BRB - BANCO DE BRASILIA S.A.

In [212]:
df_corretoras.info()

<class 'pandas.core.frame.DataFrame'>
Index: 369 entries, 0 to 371
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cnpj                      369 non-null    object
 1   type                      369 non-null    object
 2   nome_social               369 non-null    object
 3   nome_comercial            369 non-null    object
 4   status                    369 non-null    object
 5   email                     369 non-null    object
 6   telefone                  369 non-null    object
 7   cep                       369 non-null    object
 8   pais                      369 non-null    object
 9   uf                        369 non-null    object
 10  municipio                 369 non-null    object
 11  bairro                    369 non-null    object
 12  complemento               369 non-null    object
 13  logradouro                369 non-null    object
 14  data_patrimonio_liquido   369 non-null    datetime64[ns]
 15  valor_patrimonio_liquido  369 non-null    object
 16  codigo_cvm                369 non-null    object
 17  data_inicio_situacao      369 non-null    datetime64[ns]
 18  data_registro             369 non-null    datetime64[ns]
dtypes: datetime64[ns](3), object(16)
memory usage: 57.7+ KB

In [193]:
df_corretoras['data_patrimonio_liquido']

0      2005-12-31
1      2002-12-31
2      1989-12-31
3      2022-12-31
4      2000-12-31
          ...
367    2017-12-31
368    2017-12-31
369    2022-12-31
370    1996-12-31
371    2022-12-31
Name: data_patrimonio_liquido, Length: 372, dtype: object

In [194]:
df_corretoras['data_patrimonio_liquido'] = pd.to_datetime(df_corretoras['data_patrimonio_liquido'])

In [196]:
df_corretoras['data_inicio_situacao'] = pd.to_datetime(df_corretoras['data_inicio_situacao'])

In [197]:
df_corretoras['data_registro'] = pd.to_datetime(df_corretoras['data_registro'])

In [204]:
colunas_nan_corretora = ['data_patrimonio_liquido']

In [211]:
df_corretoras = df_corretoras.dropna(subset=colunas_nan_corretora)

In [218]:
df_corretoras.head(2)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,31/12/2005,4228660.18,2275,05/10/2006,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",31/12/2002,0.00,3514,14/10/2002,2002-10-14

In [215]:
df_corretoras['data_patrimonio_liquido'] = df_corretoras['data_patrimonio_liquido'].dt.strftime('%d/%m/%Y')

In [217]:
df_corretoras['data_inicio_situacao'] = df_corretoras['data_inicio_situacao'].dt.strftime('%d/%m/%Y')

In [219]:
df_corretoras['data_registro'] = df_corretoras['data_registro'].dt.strftime('%d/%m/%Y')

In [224]:
df_corretoras.head(5)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,31/12/2005,4228660.18,2275,05/10/2006,15/01/1968
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",31/12/2002,0.00,3514,14/10/2002,14/10/2002
2,10664027000132,CORRETORAS,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CANCELADA,,,50010240,BRASIL,PE,RECIFE,,,R DO IMP.D.PEDRO II 239/CJ.102,31/12/1989,5995252.29,329,12/06/1990,08/07/1986
3,44527444000155,CORRETORAS,ABN AMRO CORRETORA DE T-TULOS E VALORES MOBILI...,,EM FUNCIONAMENTO NORMAL,canal.comunicacao@br.abnamro.com,30737417,4551010,,SP,SÃO PAULO,VILA OLIMPIA,"11¦ ANDAR, CJ. 111","RUA FIDÛNCIO RAMOS, N¦ 302, TORRE B",31/12/2022,3729687.41,3794,20/06/2022,20/06/2022
4,33819590000138,CORRETORAS,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CANCELADA,,5095755,20040040,BRASIL,RJ,RIO DE JANEIRO,CENTRO,,"PRAÇA OLAVO BILAC, 28/ SL. 608",31/12/2000,291862.38,1112,11/04/2001,19/04/1968