                                     PROJETO FINAL CODERHOUSE

1º ETAPA 
- ESCOLHER UMA API DA LISTA DISPONÍVEL;
- FAZER A EXTRAÇÃO DE PELO MENOS 3 TABELAS;
- CRIAR UM ALERTA DE ERRO USANDO A FUNÇÃO ALERTA() DO DESAFIO DA AULA DE FUNDAMENTOS DE  PROGRAMA III
- SUBIR ARQUIVO NO GITHUB E FORNECER LINK NO ICONE DE ENTRADA CODERHOUSE.

In [1]:
'''
- Wheter

- https://openweathermap.org/price
- Tem q se cadastrar e verificar o email

- https://api.openweathermap.org/energy/1.0/solar/data?lat={0}&lon={0}&date={2023-07-01}&appid={Chave_de_acesso}
- https://openweathermap.org/api/solar-energy-prediction
- https://openweathermap.org/api/air-pollution'''

'''
- Pokemon

- https://pokeapi.co/api/v2/
- https://pokeapi.co/api/v2/pokemon/
- https://pokeapi.co/api/v2/pokemon/1/
- https://pokeapi.co/api/v2/ability/'''

'''
- Bancos e IBGE
- https://brasilapi.com.br/api/banks/v1/1
- https://brasilapi.com.br/api/ibge/municipios/v1/SP?providers=dados-abertos-br,gov,wikipedia'''

'''
- Restcountries

- https://restcountries.com/v3.1/all
- https://restcountries.com/v3.1/capital/Pretoria'''

'\n- Restcountries\n\n- https://restcountries.com/v3.1/all\n- https://restcountries.com/v3.1/capital/Pretoria'

In [2]:
#importação de pacotes a serem utilizados
import pandas as pd
import requests
from plyer import notification
from datetime import datetime

PRIMEIRA TABELA

In [3]:
def alerta(nivel, base, etapa):
    '''
        Alerta de falha de carregamento de base de dados
    '''
    now = str(datetime.now())

    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}"

    if nivel == 1:
        title = 'ATENÇÃO: Erro Grave'
    elif nivel == 2:
        title = 'ATENÇÃO: Erro Médio'
    else:
        title = 'ATENÇÃO: Erro Baixo'
    
    notification.notify(
            title=title,
            message=msg,
            app_name='alerta',
            timeout=10
    )

In [4]:
url = "https://brasilapi.com.br/api/banks/v1"
response_bancos = requests.get(url)

In [5]:
status_code = response_bancos.status_code

In [6]:
if status_code >= 400 and status_code < 500:
    nivel = 1
elif status_code >=500 and status_code < 600:
    nivel = 2
else:
    nivel = 3

In [7]:
if response_bancos.status_code == 200:
    data_json = response_bancos.json()
else:
    alerta(nivel = nivel,
        base = "Data_Banks", 
        etapa = "EXTRACAO")

In [8]:
data_banks = response_bancos.json()
df_banco = pd.DataFrame(data_banks)

In [9]:
df_banco

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [10]:
nome = [nome for nome in df_banco["fullName"]]
codigo = [cod for cod in df_banco["code"]]
ispb = [isp for isp in df_banco["ispb"]]

nome_code_bancos = pd.DataFrame({
    "NOME":nome,
    "CODIGO": codigo,
    "ISPB": ispb})

nome_code_bancos

                                                  NOME  CODIGO      ISPB
0                                 Banco do Brasil S.A.     1.0  00000000
1                         BRB - BANCO DE BRASILIA S.A.    70.0  00000208
2                      Banco Central do Brasil - Selic     NaN  00038121
3                              Banco Central do Brasil     NaN  00038166
4    SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV...   539.0  00122327
..                                                 ...     ...       ...
354  WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...   371.0  92875780
355                                Banco Original S.A.   212.0  92894922
356                      EFX CORRETORA DE CÂMBIO LTDA.   289.0  94968518
357                                                NaN     NaN
358                                                NaN     NaN

[359 rows x 3 columns]

SEGUNDA TABELA

In [11]:
url = "https://brasilapi.com.br/api/cvm/corretoras/v1"
response_corretoras = requests.get(url)

In [12]:
status_code_1 = response_corretoras.status_code

In [13]:
if status_code_1 >= 400 and status_code < 500:
    nivel = 1
elif status_code_1 >=500 and status_code < 600:
    nivel = 2
else:
    nivel = 3

In [14]:
if response_corretoras.status_code == 200:
    data_json = response_corretoras.json()
else:
    alerta(nivel = nivel,
        base = "Data_Banks", 
        etapa = "EXTRACAO")

In [15]:
data_corretoras = response_corretoras.json()
df_corretoras = pd.DataFrame(data_corretoras)

In [16]:
df_corretoras.head(2)

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CANCELADA,regina.tkatch@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14

In [17]:
cnpj = [cnpj for cnpj in df_corretoras["cnpj"]]
tipo = [tipo for tipo  in df_corretoras["type"]]
nome_social = [ns for ns in df_corretoras["nome_social"]]
nome_comercial = [nc for nc in df_corretoras["nome_comercial"]] 
status	= [st for st in df_corretoras["status"]]
email	= [em for em in df_corretoras["email"]]
telefone =  [tel for tel in df_corretoras["telefone"]]

In [18]:
dados_corretoras = pd.DataFrame({
    "NOME SOCIAL":nome_social,
    "NOME FANTASIA": nome_comercial,
    "TIPO":tipo,
    "CNPJ": cnpj,
    "E-MAIL": email,
    "TELEFONE": telefone,
    "STATUS": status
})

In [19]:
dados_corretoras

,NOME SOCIAL,NOME FANTASIA,TIPO,CNPJ,E-MAIL,TELEFONE,STATUS
0,4UM DTVM S.A.,4UM INVESTIMENTOS,CORRETORAS,76621457000185,controle@4um.com.br,33519966,CANCELADA
1,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,CORRETORAS,33817677000176,regina.tkatch@abcbrasil.com.br,31702172,CANCELADA
2,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CORRETORAS,10664027000132,,,CANCELADA
3,ABN AMRO CORRETORA DE T-TULOS E VALORES MOBILI...,,CORRETORAS,44527444000155,canal.comunicacao@br.abnamro.com,30737417,EM FUNCIONAMENTO NORMAL
4,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CORRETORAS,33819590000138,,5095755,CANCELADA
...,...,...,...,...,...,...,...
368,VOTORANTIM CTVM LTDA,VOTORANTIM,CORRETORAS,01170892000131,demandasregulatorias@bancovotorantim.com.br,51711894,CANCELADA
369,WALPIRES S/A CCTVM,WALPIRES S/A CCTVM,CORRETORAS,61769790000169,andre@walpires.com.br,28087065,CANCELADA
370,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,WARREN CORRETORA,CORRETORAS,92875780000131,compliance@warren.com.br,32372273,EM FUNCIONAMENTO NORMAL
371,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,PERFIL,CORRETORAS,24543688000114,,2249022,CANCELADA
372,XP INVESTIMENTOS CCTVM S.A.,XP INVESTIMENTOS,CORRETORAS,02332886000104,lucas.rabechini@xpi.com.br,30272237,EM FUNCIONAMENTO NORMAL

TERCEIRA TABELA

In [20]:
url = "https://brasilapi.com.br/api/ibge/municipios/v1/SP?providers=dados-abertos-br,gov,wikipedia"
response_2 = requests.get(url)

In [21]:
status_code_2 = response_2.status_code

In [22]:
if status_code_2 >= 400 and status_code < 500:
    nivel = 1
elif status_code_2 >=500 and status_code < 600:
    nivel = 2
else:
    nivel = 3

In [23]:
if response_2.status_code == 200:
    data_json = response_2.json()
else:
    alerta(nivel = nivel,
        base = "Data_Banks", 
        etapa = "EXTRACAO")

In [24]:
data_provincias = response_2.json()
df_provincias = pd.DataFrame(data_provincias)

In [25]:
df_provincias

                 nome codigo_ibge
0          ADAMANTINA     3500105
1              ADOLFO     3500204
2               AGUAI     3500303
3      AGUAS DA PRATA     3500402
4    AGUAS DE LINDOIA     3500501
..                ...         ...
640        VOTORANTIM     3557006
641       VOTUPORANGA     3557105
642          ZACARIAS     3557154
643         CHAVANTES     3557204
644      ESTIVA GERBI     3557303

[645 rows x 2 columns]

In [26]:
'''
- Wheter

- https://openweathermap.org/price
- Tem q se cadastrar e verificar o email

- https://api.openweathermap.org/energy/1.0/solar/data?lat={0}&lon={0}&date={2023-07-01}&appid={Chave_de_acesso}
- https://openweathermap.org/api/solar-energy-prediction
- https://openweathermap.org/api/air-pollution'''

'''
- Pokemon

- https://pokeapi.co/api/v2/
- https://pokeapi.co/api/v2/pokemon/
- https://pokeapi.co/api/v2/pokemon/1/
- https://pokeapi.co/api/v2/ability/'''

'''
- Bancos e IBGE
- https://brasilapi.com.br/api/banks/v1/1
- https://brasilapi.com.br/api/ibge/municipios/v1/SP?providers=dados-abertos-br,gov,wikipedia'''

'''
- Restcountries

- https://restcountries.com/v3.1/all
- https://restcountries.com/v3.1/capital/Pretoria'''

'\n- Restcountries\n\n- https://restcountries.com/v3.1/all\n- https://restcountries.com/v3.1/capital/Pretoria'

TESTE DE NOTIFICAÇÃO

In [27]:
def alerta(nivel, base, etapa):
    '''
        Alerta de falha de carregamento de base de dados
    '''
    now = str(datetime.now())

    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}"

    if nivel == 1:
        title = 'ATENÇÃO: Erro Grave'
    elif nivel == 2:
        title = 'ATENÇÃO: erro Médio'
    else:
        title = 'ATENÇÃO: erro Baixo'
    
    notification.notify(
            title=title,
            message=msg,
            app_name='alerta',
            timeout=10
    )

In [28]:
url = "https://brasilapi.com.br/api#tag/TAXAS/ibge/uf/v1"
response_1 = requests.get(url)

In [29]:
status_code_2 = response_1.status_code

In [30]:
if status_code_2 >= 400 and status_code < 500:
    nivel = 1
elif status_code_2 >= 500 and status_code < 600:
    nivel = 2
else:
    nivel = 3

In [31]:
if response_1.status_code == 200:
    data_json = response_1.json()
else:
    alerta(
        nivel = nivel,
        base = "Data_Banks", 
        etapa = "EXTRACAO")